# Logs
logs
*.log
.vs
bin
obj

*.user
*.suo
*.cscfg
*.Cache
project.lock.json
appsettings.json
/secrets
sampledata/
packages/
TestResults
nuget.config

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
#node_modules

#Solution
local.settings.json
