<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="totd-email-azure-connectionstring" value="UseDevelopmentStorage=true" />
    <add key="totd-email-azure-sendgrid-queue-name" value="sendgrid" />
    <add key="totd-email-azure-mailtrap-queue-name" value="mailtrap" />
    <add key="totd-email-azure-debug" value="True" />
    <add key="totd-email-azure-blob-container-name" value="blobcontainer" />
  </appSettings>

</configuration>
